<footer>
  <section class="mt-5" id="contact">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12 white-links">
        <p class="footer-title">About us</p>
        <ul>
          <li><a href="/pages/about-us">About Our Company</a></li>
          <li><a href="/pages/contact-us">Contact Us</a></li>
          <li><a href="/pages/shipping-policy">Shipping Policy</a></li>
          <li><a href="/pages/careers">Careers</a></li>
        </ul>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12 white-links mb-2">
        <p class="footer-class">Follow Us</p>
        <a href="https://facebook.com" target="_blank">
          <i class="fa fa-facebook-square" aria-hidden="true"> Facebook</i>
        </a>
        <a href="https://instagram.com" id="profile-link" target="_blank">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          Instagram
        </a>
        <a href="https://twitter.com" target="_blank">
          <i class="fa fa-twitter" aria-hidden="true"> Twitter</i>
        </a>
      </div>
    </div>
  </section>

  <section class="bottom-footer">
    <div class="d-flex justify-content-between">
      <div class="row">
        <div class="col-12 me-auto">&copy; Flash 2021</div>
      </div>

      <div class="row">
        <div class="col-12 me-auto">
          Made With <i class="fab fa-phoenix-framework"></i>
          By Shubham Raj
        </div>
      </div>
    </div>
  </section>
</footer>
