<%- layout("layouts/boilerplate") %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">About Us</h1>
      <h3>Namaskaram</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
        quibusdam odit, accusamus inventore possimus similique doloribus
        officiis, aliquid eum expedita sequi officia dolor autem iusto illum.
        Quam dolor voluptatem rerum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde porro
        quis, expedita illo ab sit voluptatum ipsum atque quae necessitatibus
        sint, nostrum, nobis optio omnis soluta repellendus sed quod! Unde!
      </p>
      <a href="/products" class="btn btn-block btn-primary">See Store</a>
    </div>
  </div>
</div>
