<%- layout("layouts/boilerplate") %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Work With Us</h1>
      <h3>Technical salesperson is appreciated</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
        aperiam magni aut velit id nam repellat delectus incidunt optio, aliquam
        quo accusantium facilis aspernatur dolor sint perferendis eveniet.
        Distinctio, vitae!
      </p>
      <p>
        If you are interested in working with us, please send your CV to the
        following email and we will get back to you. <br />
        <a href="mailto:hr@email.com">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <u>hr@email.com</u>
        </a>
      </p>
    </div>
  </div>
</div>
