<%- layout("layouts/boilerplate") %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-5 mb-5 text-center">Shipping Policy</h1>
      <p>
        On this page you will find our information about Shipping duration and
        cost
      </p>
      <h4>Order Processing Duration</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat totam
        repellendus nesciunt ratione minus accusantium, officia at tempore
        voluptatum dolorum blanditiis. Enim quidem nihil perspiciatis dolorum?
        Sapiente deserunt atque autem!
      </p>
      <h4>Order Delivery</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eaque iste
        voluptate inventore facilis dolor eligendi laboriosam atque accusamus
        delectus voluptates, exercitationem alias tenetur eius eum labore,
        repellendus, ratione quis!
      </p>
      <h4>Shipping Rates</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit at
        exercitationem quam quaerat adipisci cupiditate eligendi quibusdam,
        magnam temporibus vitae reiciendis, dolorum, dolorem eum tempore commodi
        obcaecati deserunt modi repellat!
      </p>
      <h4>Returning Products</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas harum
        provident perspiciatis corporis ab exercitationem aliquid. Ipsa minus
        molestias enim fugiat reprehenderit totam id laborum quae sed.
        Voluptatibus, praesentium velit?
      </p>
      <h4>Do you have any question</h4>
      <p>
        Please do not hesitate to
        <a href="/pages/contact-us"><u> contact us </u></a> through our emails
        and phone numbers
      </p>
    </div>
  </div>
</div>
